@using Sitecore.Feature.News
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@model IEnumerable<Sitecore.Data.Items.Item>
<div class="teaser teaser-list latest-news">
  <div class="teaser-heading">
    <h3>Latest News</h3>
  </div>
  <div class="teaser-body">
    <ul class="media-list">
      @foreach (var item in Model)
      {
        <li class="media">
          <div class="media-left">
            @Html.Sitecore().ImageField(Templates.NewsArticle.Fields.Image.ToString(), item, 64, 64)
          </div>
          <div class="media-body">
            <div class="media-heading">
              <a href="@item.Url()">@Html.Sitecore().Field(Templates.NewsArticle.Fields.Title.ToString(), item)</a>
            </div>
            <div class="metadata">
              @Html.Sitecore().Field(Templates.NewsArticle.Fields.Date.ToString(), item, new
              {
                format = "MMMM dd, yyyy"
              })
            </div>
          </div>
        </li>
      }
    </ul>
  </div>
  <div class="teaser-footer">
    <a href="@Html.Sitecore().CurrentRendering.Item.Url()" class="btn btn-default">
      @DictionaryRepository.Get("/news/latest news/read more", "Read more")
    </a>
  </div>
</div>