@using Sitecore.Feature.News
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model IEnumerable<Sitecore.Data.Items.Item>
<ul class="media-list media-list-divided">
@foreach (var item in Model)
{
  <li class="media media-align-middle">
    <div class="media-left ">
      <a href="@item.Url()">
        @Html.Sitecore().ImageField(Templates.NewsArticle.Fields.Image, item, mw: 150)
      </a>
    </div>

    <div class="media-body ">
      <h3 class="media-title">
        <a href="@item.Url()">
          @Html.Sitecore().Field(Templates.NewsArticle.Fields.Title, item)
        </a>
      </h3>
      <p>
        @Html.Sitecore().Field(Templates.NewsArticle.Fields.Summary, item)
      </p>
    </div>
  </li>
}
</ul>
