@using Sitecore.Feature.News
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model IEnumerable<Sitecore.Data.Items.Item>
<div class="content-list newslist">
  <ol class="media-list">

    @foreach (var item in Model)
    {
      <li class="media">
        <div class="media-left">
          <a href="#">
            @Html.Sitecore().ImageField(Templates.NewsArticle.Fields.Image.ToString(), item, mw: 150, cssClass: "img-responsive img-thumbnail")
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading">
            <a href="@item.Url()">
              @Html.Sitecore().Field(Templates.NewsArticle.Fields.Title.ToString(), item)
            </a>
          </h3>
          <div class="description">
            @Html.Sitecore().Field(Templates.NewsArticle.Fields.Summary.ToString(), item)
          </div>
          <div class="metadata panel panel-default">
            <div class="panel-body">
              <span class="date text-muted">
                @Html.Sitecore().Field(Templates.NewsArticle.Fields.Date.ToString(), item, new
                           {
                             format = "MMMM dd, yyyy"
                           })
              </span>
            </div>
          </div>
        </div>
      </li>
    }
  </ol>
</div>