@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Framework.SitecoreExtensions.Repositories
@using Habitat.News
@model IEnumerable<Sitecore.Data.Items.Item>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Latest News</h3>
    </div>
    <div class="panel-body">
        <ul class="media-list">
            @foreach (var item in Model)
            {
                <li class="media">
                    <div class="media-left">
                        <a href="@item.Url()">
                            @Html.Sitecore().ImageField(Templates.NewsArticle.Fields.Image.ToString(), item, mh: 64, mw: 64)
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="date text-muted">
                            @Html.Sitecore().Field(Templates.NewsArticle.Fields.Date.ToString(), item, new { format = "MMMM dd, yyyy" })
                        </div>
                        <h4 class="media-heading">
                            <a href="@item.Url()">@Html.Sitecore().Field(Templates.NewsArticle.Fields.Title.ToString(), item)</a>
                        </h4>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="panel-footer">
        <a href="@Html.Sitecore().CurrentRendering.Item.Url()" class="btn btn-info">
            @DictionaryRepository.Get("/R/Read more", "***READ MORE***")
        </a>
    </div>
</div>

