@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.News
@model IEnumerable<Sitecore.Data.Items.Item>
<ul class="news">
    @foreach (var item in Model)
    {
        <li class="media">
            <div class="media-left media-top">
                <a href="@item.Url()">
                    @Html.Sitecore().ImageField(Templates.NewsArticle.Fields.Image.ToString(), item, mw: 100)
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="@item.Url()">@Html.Sitecore().Field(Templates.NewsArticle.Fields.Title.ToString(), item)</a>
                </h4>
                <em class="date">
                    @Html.Sitecore().Field(Habitat.News.Templates.NewsArticle.Fields.Date.ToString(), item, new {format = "MMMM dd, yyyy"})
                </em>
                <p>
                    @Html.Sitecore().Field(Templates.NewsArticle.Fields.Summary.ToString(), item)
                </p>
            </div>
        </li>
    }
</ul>