@using Sitecore.Feature.Language.Repositories
@model Sitecore.Feature.Language.Models.LanguageSelector

@{
    if (Model.SupportedLanguages.Count <= 1)
    {
        return;
    }
}
<li class="dropdown">
    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-globe"></i>
    </a>
    <ul class="dropdown-menu">
        @foreach (var language in Model.SupportedLanguages)
        {
            var cssClass = language.TwoLetterCode == Model.ActiveLanguage?.TwoLetterCode ? "active" : "";
            <li class="@cssClass">
                <a href="@language.Url" onclick="return SwitchToLanguage('@language.Name', '@(Model.ActiveLanguage?.Name)', '@language.Url')">@language.NativeName</a>
            </li>
        }
    </ul>
</li>