@using Sitecore.Feature.Person
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.IsDerived(Templates.Person.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.Person.ID))
  return;
}

<div class="teaser teaser-default employee-teaser">
  <div class="teaser-heading">
    <h3>
      @Model.Item.Field(Templates.Person.Fields.Name)
    </h3>
    <p class="title metadata">
      @Model.Item.Field(Templates.Person.Fields.Title)
    </p>
  </div>
	<div class="teaser-image">
		<a href="@Model.Item.Url()">
			@Html.Sitecore().ImageField(Templates.Person.Fields.Picture, Model.Item, mw: 750, cssClass: "img-responsive")
		</a>
	</div>
  <div class="teaser-body">
    @Model.Item.Field(Templates.Person.Fields.Summary)
  </div>
  <div class="teaser-footer">
    <a href="@Model.Item.Url()" class="btn btn-default">
      @DictionaryRepository.Get("/Person/EmployeeTeaser/Read more", "Read more")
    </a>
  </div>
</div>
