@using Sitecore.Feature.Person
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="teaser teaser-default employee-teaser">
	<div class="teaser-heading">
		<h3>
			@Model.Item.Field(Templates.Person.Fields.Name)
		</h3>
		<p class="title metadata">@Model.Item.Field(Templates.Person.Fields.Title)</p>
	</div>
	<div class="teaser-image">
		@Html.Sitecore().ImageField(Templates.Person.Fields.Picture, Model.Item, mw: 750, cssClass: "img-responsive")
	</div>
	<div class="teaser-body">
		<p>@Model.Item.Field(Templates.Person.Fields.Summary)</p>
		<ul class="nav nav-pills">
			@if (Sitecore.Context.PageMode.IsPageEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.Telephone))
			{
				<li>
					<a href="tel:@Model.Item[Templates.Employee.Fields.Telephone]">
						<i class="fa fa-phone"></i> @Model.Item.Field(Templates.Employee.Fields.Telephone)
					</a>
				</li>
			}
			@if (Sitecore.Context.PageMode.IsPageEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.Mobile))
			{
				<li>
					<a href="tel:@Model.Item[Templates.Employee.Fields.Mobile]">
						<i class="fa fa-mobile"></i> @Model.Item.Field(Templates.Employee.Fields.Mobile)
					</a>
				</li>
			}
			@if (Sitecore.Context.PageMode.IsPageEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.Email))
			{
				<li>
					<a href="mailto:@Model.Item[Templates.Employee.Fields.Email]">
						<i class="fa fa-envelope"></i> @Model.Item.Field(Templates.Employee.Fields.Email)
					</a>
				</li>
			}
		</ul>
		<ul class="nav nav-pills">
			@if (Sitecore.Context.PageMode.IsPageEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.TwitterLink))
			{
				<li>
					<a href="@Model.Item.LinkFieldUrl(Templates.Employee.Fields.TwitterLink)" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
			}
			@if (Sitecore.Context.PageMode.IsPageEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.FacebookLink))
			{
				<li>
					<a href="@Model.Item.LinkFieldUrl(Templates.Employee.Fields.FacebookLink)" target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
			}
			@if (Sitecore.Context.PageMode.IsPageEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.LinkedInLink))
			{
				<li>
					<a href="@Model.Item.LinkFieldUrl(Templates.Employee.Fields.LinkedInLink)" target="_blank">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
			}
			@if (Sitecore.Context.PageMode.IsPageEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.BlogLink))
			{
				<li>
					<a href="@Model.Item.LinkFieldUrl(Templates.Employee.Fields.BlogLink)" target="_blank">
						<i class="fa fa-book"></i>
					</a>
				</li>
			}
		</ul>
	</div>
	<div class="teaser-footer">
		<a href="@Model.Item.Url()" class="btn btn-default btn-sm">
			@DictionaryRepository.Get("/Person/EmployeeContactTeaser/Read more", "Read more")
		</a>
	</div>
</div>