@using Sitecore.Feature.Person
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.IsDerived(Templates.Employee.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.Employee.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
  return;
}


<div class="container">
  <div class="text-center">
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.Telephone))
    {
      <a href="tel:@Model.Item[Templates.Employee.Fields.Telephone]" class="btn btn-link">
        <i class="fa fa-phone"></i> @Model.Item.Field(Templates.Employee.Fields.Telephone)
      </a>
    }
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.Mobile))
    {
      <a href="tel:@Model.Item[Templates.Employee.Fields.Mobile]" class="btn btn-link">
        <i class="fa fa-mobile"></i> @Model.Item.Field(Templates.Employee.Fields.Mobile)
      </a>
    }
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.Email))
    {
      <a href="mailto:@Model.Item[Templates.Employee.Fields.Email]" class="btn btn-link">
        <i class="fa fa-envelope"></i> @Model.Item.Field(Templates.Employee.Fields.Email)
      </a>
    }
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.BlogLink))
    {
      <a href="@Model.Item.LinkFieldUrl(Templates.Employee.Fields.BlogLink)" target="_blank" class="btn btn-info">
        <i class="fa fa-globe"></i>
      </a>
    }
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.TwitterLink))
    {
      <a href="@Model.Item.LinkFieldUrl(Templates.Employee.Fields.TwitterLink)" target="_blank" class="btn btn-social-icon btn-twitter">
        <i class="fa fa-twitter"></i>
      </a>
    }
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.FacebookLink))
    {
      <a href="@Model.Item.LinkFieldUrl(Templates.Employee.Fields.FacebookLink)" target="_blank" class="btn btn-social-icon btn-facebook">
        <i class="fa fa-facebook"></i>
      </a>
    }
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.Item.FieldHasValue(Templates.Employee.Fields.LinkedInLink))
    {
      <a href="@Model.Item.LinkFieldUrl(Templates.Employee.Fields.LinkedInLink)" target="_blank" class="btn btn-social-icon btn-linkedin">
        <i class="fa fa-linkedin"></i>
      </a>
    }
  </div>
</div>