@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.IsDerived(Templates.Person.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.Person.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
  return;
}

<div class="mosaic mosaic-bar-bottom mosaic-overlay-show">
  <div class="mosaic-overlay">
    <label>@Model.Item.Field(Templates.Person.Fields.Title)</label>
    <h4>
      @Model.Item.Field(Templates.Person.Fields.Name)
    </h4>
    <a href="@Model.Item.Url()" target="_blank" class="btn btn-primary text-uppercase btn-xs">
      @DictionaryRepository.Get("/Person/EmployeeList/Read More", "Read more")
    </a>
  </div>
  <div class="mosaic-backdrop">
    <a href="@Model.Item.Url()">
      @Html.Sitecore().ImageField(Templates.Person.Fields.Picture, Model.Item, mw: 750, cssClass: "img-responsive")
    </a>
  </div>
</div>