@using Sitecore.Feature.Person
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.IsDerived(Templates.Quote.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.Quote.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
  return;
}

<blockquote class="blockquote-center @Model.Rendering.GetBackgroundClass()">
  <header>
    @Html.Sitecore().ImageField(Templates.Person.Fields.Picture, Model.Item, mh: 150, cssClass: "img-responsive")
    <p>
      @Model.Item.Field(Templates.Person.Fields.Name)
    </p>
    <p>
      @Model.Item.Field(Templates.Person.Fields.Title)@(Sitecore.Context.PageMode.IsExperienceEditor || (Model.Item.FieldHasValue(Templates.Person.Fields.Title) && Model.Item.FieldHasValue(Templates.Quote.Fields.CiteOrigin)) ? ", " : "")
      @Model.Item.Field(Templates.Quote.Fields.CiteOrigin)
    </p>
  </header>
  <p>
    @Model.Item.Field(Templates.Quote.Fields.Quote)
  </p>
</blockquote>

