@using Sitecore.Feature.Person
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.IsDerived(Templates.Quote.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.Quote.ID))
  return;
}

<blockquote>
  @Html.Sitecore().ImageField(Templates.Person.Fields.Picture, Model.Item, 64, 64)
  <p>
    @Model.Item.Field(Templates.Quote.Fields.Quote)
  </p>
  <footer>
    <cite>
      <span class="name">@Model.Item.Field(Templates.Person.Fields.Name)</span>
      <span class="title">@Model.Item.Field(Templates.Person.Fields.Title)</span>
      <span class="company">@Model.Item.Field(Templates.Quote.Fields.CiteOrigin)</span>
    </cite>
  </footer>
</blockquote>
