@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Media
@using Habitat.Media.Infrastructure.Repositories
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel

@{
  var carouselId = "carousel" + Guid.NewGuid().ToString("N");
  var elements = CarouselElementsRepository.Get(Model.Item).ToArray();
}
<div id="@carouselId" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    @for (var i = 0; i < elements.Length; i++)
    {
      <li data-target="#@carouselId" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
    }
  </ol>

  <div class="carousel-inner" role="listbox">
    @foreach (var element in elements)
    {
      <div class="item @(elements.First() == element ? "active" : "")">
        @if (element.Item.IsDerived(Templates.HasMediaVideo.ID))
        {
                    @* TODO Work out how to deal with videos *@
          <img src="'@element.Item.ImageUrl(Templates.HasMedia.Fields.Thumbnail, new MediaUrlOptions())'" alt="" class="img-responsive"/>
        }
        else
        {
                    @*NOTE: because of a bug in the revolution slider, an additional ' has been added to the image URL*@
          <img src="'@element.Item.ImageUrl(Templates.HasMediaImage.Fields.Image, new MediaUrlOptions())'" alt="" class="img-responsive"/>
        }
        <div class="carousel-caption">
          <h2>
            @Html.Sitecore().Field(Templates.HasMedia.Fields.Title.ToString(), element.Item)
          </h2>
          <div>
            @Html.Sitecore().Field(Templates.HasMedia.Fields.Description.ToString(), element.Item)
          </div>
        </div>
      </div>
    }
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#@carouselId" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#@carouselId" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>