@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.IsDerived(Templates.HasPageContent.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.HasPageContent.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
  return;
}

<div class="thumbnail">
    <a href="@Model.Item.Url()">
        @Html.Sitecore().ImageField(Templates.HasPageContent.Fields.Image.ToString(), Model.Item, mw: 500, cssClass: "img-responsive")
    </a>
    <div class="caption">
        <h3 class="teaser-heading">
            @Html.Sitecore().Field(Templates.HasPageContent.Fields.Title.ToString(), Model.Item)
        </h3>
        <p>
            @Html.Sitecore().Field(Templates.HasPageContent.Fields.Summary.ToString(), Model.Item)
        </p>
        <a href="@Model.Item.Url()" class="btn btn-default">
            @DictionaryRepository.Get("/PageContent/Teaser/Read more", "Read more")
        </a>
    </div>
</div>