@using Habitat.Framework.Assets
@using Habitat.Framework.Assets.Models
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    @Html.Sitecore().Placeholder("head")

    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)
    @RenderAssetsService.Current.RenderStyles()
</head>
<body>

    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                @Html.Sitecore().Placeholder("header")
            </div>
        </nav>
    </header>

    <div class="container">
        @Html.Sitecore().Placeholder("content")
    </div>

    <footer>
        <div class="container">
            @Html.Sitecore().Placeholder("footer")
        </div>
    </footer>

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
</body>
</html>