@using Sitecore.Foundation.Dictionary
@using Sitecore.StringExtensions
@model IEnumerable<Sitecore.Feature.Demo.Models.Profile>
<div role="tabpanel" class="tab-pane @((bool)Html.ViewData["active"] ? "active" : "") m-t-1" id="@Html.ViewData["id"]">
  @if (!Model.Any())
  {
    <div class="alert alert-info">
      @Html.Sitecore().Dictionary("/Demo/OnsiteBehavior/NoProfiling", "You have not been profiled yet")
    </div>
  }
  else
  {
    foreach (var profile in Model)
    {
      <div class="media">
        <div class="media-body ">
          <h5 class="media-title">
            @profile.Name
          </h5>
          <ol class="list-unstyled">
            @foreach (var patternMatch in profile.PatternMatches.Take(1))
          {
              <li>
                <div>@patternMatch.PatternName</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@(patternMatch.MatchPercentage * 100)" aria-valuemin="0" aria-valuemax="100" style="width: @(patternMatch.MatchPercentage * 100)%">
                    @patternMatch.MatchPercentage.ToString("P0")
                  </div>
                </div>
              </li>
            }
            @foreach (var patternMatch in profile.PatternMatches.Skip(1))
          {
              <li>
                <div>
                  <small>@patternMatch.PatternName</small>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@(patternMatch.MatchPercentage * 100)" aria-valuemin="0" aria-valuemax="100" style="width: @(patternMatch.MatchPercentage * 100)%">
                    <small>@patternMatch.MatchPercentage.ToString("P0")</small>
                  </div>
                </div>
              </li>
            }
          </ol>
        </div>
        @{
          var matchedPattern = profile.PatternMatches.FirstOrDefault();
          var image = matchedPattern?.Image;
          if (!string.IsNullOrWhiteSpace(image))
          {
            <div class="media-right">
              <img src="@image" alt="@matchedPattern.PatternName" width="30" />
            </div>
          }
        }
      </div>
            }
          }
</div>