@using System.Globalization
@using Sitecore.Feature.Demo.Texts
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@using Sitecore.StringExtensions
@model Sitecore.Feature.Demo.Models.PersonalInfo
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="#personalInfoPanel" data-toggle="collapse" class="panel-title collapsed" data-parent="#experiencedata">
        <span class="fa fa-user"></span>
        @DictionaryRepository.Get("/Demo/PersonalInfo/Title", "Personal Information")
        <span class="glyphicon glyphicon-chevron-down pull-right"></span>
      </a>
    </h3>
  </div>
  <div id="personalInfoPanel" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="media-body ">
          <h4 class="media-title">
            @if (!string.IsNullOrWhiteSpace(Model.FullName))
            {
              @Model.FullName
            }
            else if (Model.IsIdentified)
            {
              @DictionaryRepository.Get("/Demo/PersonalInfo/IdentifiedUser", "You are known")
            }
            else
            {
              @DictionaryRepository.Get("/Demo/PersonalInfo/AnonymousUser", "You are anonymous")
            }
          </h4>
          <dl>
            @foreach (var property in Model.Properties)
            {
              <dt>@property.Key</dt>
              <dd>@property.Value</dd>
            }
          </dl>
        </div>
        <div class="media-right">
          @if (Model.PhotoUrl != null)
          {
            <img src="@Model.PhotoUrl" width="50"/>
          }
          else if (Model.IsIdentified)
          {
            <span class="fa fa-user-plus icon-lg"></span>
          }
          else
          {
            <span class="fa fa-user-secret icon-lg"></span>
          }
        </div>
      </div>
      @if (Model.EngagementPlanStates.Any())
      {
        <div class="media">
          <div class="media-left">
            <span class="fa fa-street-view"></span>
          </div>
          <div class="media-body ">
            <h4 class="media-title">
              @DictionaryRepository.Get("/Demo/PersonalInfo/Engagement", "Engagement")
            </h4>
            <table class="table table-condensed table-borderless">
              @foreach (var state in Model.EngagementPlanStates)
              {
                <tr>
                  <td colspan="2"><small>@state.EngagementPlanTitle</small></td>
                </tr>
                <tr>
                  <td>@state.Date.ToString("dd-MM hh:mm")</td>
                  <td>@state.Title</td>
                </tr>
              }
            </table>
          </div>
        </div>
      }
    </div>
  </div>
</div>
