@using Sitecore.Foundation.Dictionary
@using Sitecore.Foundation.Dictionary.Repositories
@model Sitecore.Feature.Demo.Models.Visits
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="#visitsPanel" data-toggle="collapse" class="panel-title collapsed" data-parent="#experiencedata">
        <span class="fa fa-heart"></span>
        @Html.Sitecore().DictionaryField("/Demo/Visits/Engagement", "Engagement")
        <span class="badge" title="@Html.Sitecore().Dictionary("/Demo/Visits/Engagement Value", "Engagement Value")" data-toggle="tooltip" data-placement="bottom">
          <span class="fa fa-heart"></span>
          @Model.EngagementValue
        </span>
        <span class="badge" title="@Html.Sitecore().Dictionary("/Demo/Visits/Pages Viewed", "Pages Viewed")" data-toggle="tooltip" data-placement="bottom">
          <span class="fa fa-eye"></span>
          @Model.TotalPageViews
        </span>
        <span class="badge" title="@Html.Sitecore().Dictionary("/Demo/Visits/Number Of Visits", "Number of Visits")" data-toggle="tooltip" data-placement="bottom">
          <span class="fa fa-history"></span>
          @Model.TotalVisits
        </span>
        <span class="glyphicon glyphicon-chevron-down pull-right"></span>
      </a>
    </h3>
  </div>
  <div id="visitsPanel" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <span class="fa fa-heart"></span>
        </div>

        <div class="media-body ">
          <h4 class="media-title">
            @Html.Sitecore().DictionaryField("/Demo/Visits/Engagement Value", "Engagement value:")
            <strong class="pull-right">@Model.EngagementValue</strong>
          </h4>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <span class="fa fa-eye"></span>
        </div>
        <div class="media-body ">
          <h4 class="media-title">
            @Html.Sitecore().DictionaryField("/Demo/Visits/Pages This Visit", "Pages seen in this visit:")
            <strong class="pull-right">@Model.TotalPageViews</strong>
          </h4>
          <table class="table table-condensed table-borderless">
            @foreach (var pageView in Model.PageViews)
            {
              <tr>
                <td>@pageView.Path</td>
                <td>
                  @if (pageView.Duration == TimeSpan.Zero)
                  {
                    <span>-</span>
                  }
                  else
                  {
                    @pageView.Duration.ToString(@"mm\:ss")
                  }
                </td>
                <td>
                  @if (pageView.HasEngagementValue)
                  {
                    <span class="fa fa-heart" title="@Html.Sitecore().Dictionary("/Demo/Visits/Has Personalisation", "Page has engagement value")"></span>
                  }
                  @if (pageView.HasMvTest)
                  {
                    <span class="fa fa-flask" title="@Html.Sitecore().Dictionary("/Demo/Visits/Has Test", "Page has a test")"></span>
                  }
                  @if (pageView.HasPersonalisation)
                  {
                    <span class="fa fa-street-view" title="@Html.Sitecore().Dictionary("/Demo/Visits/Has Personalisation", "Page has personalisation")"></span>
                  }
                </td>
              </tr>
            }
            @if (Model.TotalPageViews > Model.PageViews.Count())
            {
              <tr>
                <td colspan="3">...</td>
              </tr>
            }
          </table>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <span class="fa fa-history"></span>
        </div>
        <div class="media-body">
          <h4 class="media-title">
            @Html.Sitecore().DictionaryField("/Demo/Visits/Total Visits", "Visits to the site:")
            @if (Model.TotalVisits > 1)
            {
              <strong class="pull-right">@Model.TotalVisits</strong>
            }
          </h4>
          @if (Model.TotalVisits <= 1)
          {
            <div class="alert alert-info">
              @Html.Sitecore().DictionaryField("/Demo/Visits/First Visit", "This is your first visit to the site.")
            </div>
          }
        </div>
      </div>
      @if (Model.EngagementPlanStates.Any())
      {
        <div class="media">
          <div class="media-left">
            <span class="fa fa-street-view"></span>
          </div>
          <div class="media-body ">
            <h4 class="media-title">
              @Html.Sitecore().DictionaryField("/Demo/Visits/Engagement Plans", "Engagement plans:")
            </h4>
            <table class="table table-condensed table-borderless">
              @foreach (var state in Model.EngagementPlanStates)
              {
                <tr>
                  <td colspan="2">
                    <small>@state.EngagementPlanTitle</small>
                  </td>
                </tr>
                <tr>
                  <td>@state.Date.ToString("dd-MM hh:mm")</td>
                  <td>@state.Title</td>
                </tr>
              }
            </table>
          </div>
        </div>
      }
    </div>
  </div>
</div>