@using System.Globalization
@using Sitecore.Feature.Demo.Texts
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@using Sitecore.StringExtensions
@model Sitecore.Feature.Demo.Models.VisitInformation
<div class="visit-info">

  <div class="well bg-secondary">
    <h4>
      @Captions.VisitDetails.ThisVisit
      <small>
        <span title="@Captions.VisitDetails.PagesViewed" data-toggle="tooltip" data-placement="top">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </span>
        <span class="badge">@Model.PageCount</span>
        <span title="@Captions.VisitDetails.EngagementValue" data-toggle="tooltip" data-placement="top">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        </span>
        <span class="badge">@Model.EngagementValue</span>
      </small>
    </h4>
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#visitDetailsPatterns" data-parent="#accordion" data-toggle="collapse" class="panel-title collapsed">
            @Captions.VisitDetails.Patterns
            <span class="badge">@Model.Profiles.Count()</span>
            <span class="expand-icon glyphicon" aria-hidden="true"></span>
          </a>
        </h4>
      </div>
      <div id="visitDetailsPatterns" class="panel-collapse collapse">
        <div class="panel-body">


          @foreach (var profileItem in Model.Profiles)
          {
            <div class="patternwrapper">
              @{
                var patterns = profileItem.PatternMatches.OrderByDescending(x => x.MatchPercentage).Take(4).ToArray();
              }
              @for (var i = 0; i < patterns.Length; i++)
              {
                <div>
                  @{ var item = patterns[i]; }

                  @if (i == 0)
                  {
                    if (!@item.Image.IsNullOrEmpty())
                    {
                      <div class="image-wrapper">
                        <img src="@item.Image" alt="@item.PatternName" />
                      </div>
                    }

                    <h4>@item.Profile</h4>
                  }
                  @if (i == 1)
                  {
                    <strong>
                      Other patterns matches
                    </strong>
                  }

                  <h5>@item.PatternName</h5>
                  <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@item.MatchPercentage.ToString("###%").Trim('%')" aria-valuemin="0" aria-valuemax="100" style="width: @item.MatchPercentage.ToString("###%")">
                      @item.MatchPercentage.ToString("P0", CultureInfo.InvariantCulture)
                    </div>
                  </div>
                </div>
                    }
            </div>
                    }
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#contactExperience" data-parent="#accordion" data-toggle="collapse" class="panel-title collapsed">
            @Captions.VisitDetails.ExperienceProfile
            <span class="expand-icon glyphicon" aria-hidden="true"></span>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="contactExperience">
        <div class="panel-body">

          @foreach (var entry in Model.ExperienceProfiles.Where(profile => profile.Scores.Any()))
          {
            <div class="panel-group" aria-expanded="false">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <a href="#@entry.Name" data-toggle="collapse" class="panel-title collapsed" aria-expanded="false">
                    @entry.Name
                    <span class="expand-icon glyphicon" aria-hidden="true"></span>
                  </a>
                </div>
                <div class="panel-collapse collapse" id="@entry.Name" aria-expanded="false" style="height: 79px;">
                  <div class="panel-body">
                    <dl>
                      <dt>
                        @Captions.ContactDetails.Scores
                      </dt>
                      @foreach (var score in entry.Scores.Select(x => $"{x.Key}: {x.Value}"))
                      {
                        <dd>@score</dd>
                      }
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#visitDetailsCampaign" data-parent="#accordion" data-toggle="collapse" class="panel-title collapsed">
            @Captions.VisitDetails.Campaign
            <span class="badge">@(Model.Campaign == null ? 0 : 1)</span>
            <span class="expand-icon glyphicon" aria-hidden="true"></span>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="visitDetailsCampaign">
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>@Model.Campaign</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#visitDetailsGeoIp" data-parent="#accordion" data-toggle="collapse" class="panel-title collapsed">
            @Captions.VisitDetails.GeoIp
            <span class="expand-icon glyphicon" aria-hidden="true"></span>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="visitDetailsGeoIp">
        <div class="panel-body">
          <dl>
            <dt>@Captions.VisitDetails.GeoIpCity</dt>
            <dd>@Model.City</dd>
            <dt>@Captions.VisitDetails.GeoIpPostalCode</dt>
            <dd>@Model.PostalCode</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#visitDetailsDevice" data-parent="#accordion" data-toggle="collapse" class="panel-title collapsed">
            @Captions.VisitDetails.Device.Title
            <span class="expand-icon glyphicon" aria-hidden="true"></span>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="visitDetailsDevice">
        <div class="panel-body">
          <dl>
            <dt>@Captions.VisitDetails.Device.Type</dt>
            <dd>@Model.Device.DeviceType</dd>
            <dt>@Captions.VisitDetails.Device.Vendor</dt>
            <dd>@Model.Device.DeviceVendor</dd>
            <dt>@Captions.VisitDetails.Device.OperatingSystem</dt>
            <dd>@Model.Device.DeviceOperatingSystemModel (@Model.Device.DeviceOperatingSystemVendor)</dd>
            <dt>@Captions.VisitDetails.Device.Browser</dt>
            <dd>@Model.Device.Browser</dd>
            <dt>@Captions.VisitDetails.Device.DisplayHeight</dt>
            <dd>
              @(Model.Device.HardwareDisplayHeight > 0 ? @Model.Device.HardwareDisplayHeight + " px" : @DictionaryRepository.Get("/Demo/VisitDetails/Device/UnknownValue", "Unknown"))
            </dd>
            <dt>@Captions.VisitDetails.Device.DisplayWidth</dt>
            <dd>
              @(Model.Device.HardwareDisplayWidth > 0 ? @Model.Device.HardwareDisplayWidth + " px" : @DictionaryRepository.Get("/Demo/VisitDetails/Device/UnknownValue", "Unknown"))
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#visitDetailsPages" data-parent="#accordion" data-toggle="collapse" class="panel-title collapsed">
            @Captions.VisitDetails.Pages
            <span class="badge">@Model.PagesViewed.Count()</span>
            <span class="expand-icon glyphicon" aria-hidden="true"></span>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="visitDetailsPages">
        <div class="panel-body">
          <ul class="list-unstyled">
            @foreach (var item in Model.PagesViewed)
            {
              <li>
                <a href="@item.Url">@item.Title</a>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#collapseGoals" data-parent="#accordion" data-toggle="collapse" class="panel-title collapsed">
            @Captions.VisitDetails.Goals
            <span class="badge">@Model.GoalsList.Count()</span>
            <span class="expand-icon glyphicon" aria-hidden="true"></span>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="collapseGoals">
        <div class="panel-body">
          <ul class="list-unstyled">
            @foreach (var item in Model.GoalsList)
            {
              <li>@item</li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#collapseEngagement" data-parent="#accordion" data-toggle="collapse" class="panel-title collapsed">
            @Captions.VisitDetails.Engagement
            <span class="badge">@Model.EngagementStates.Count()</span>
            <span class="expand-icon glyphicon" aria-hidden="true"></span>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="collapseEngagement">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Plan</th>
                <th>Last state</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in Model.EngagementStates)
              {
                <tr>
                  <td>@item.Plan</td>
                  <td>@item.State</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
