@using System.Globalization
@using Sitecore.Feature.Demo.Texts
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@using Sitecore.StringExtensions
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="#visitsPanel" data-toggle="collapse" class="panel-title collapsed">
        <span class="fa fa-heart"></span>
        @Captions.VisitDetails.Engagement
        <span class="badge" title="@Captions.VisitDetails.EngagementValue" data-toggle="tooltip" data-placement="bottom">
          ##
        </span>
        <span class="badge" title="@Captions.VisitDetails.PagesViewed" data-toggle="tooltip" data-placement="bottom">
          <span class="fa fa-eye"></span>
          ##
        </span>
        <span class="badge" title="@Captions.ContactDetails.NumberOfVisits" data-toggle="tooltip" data-placement="bottom">
          <span class="fa fa-history"></span>
          ##
        </span>
        <span class="glyphicon glyphicon-chevron-down pull-right"></span>
      </a>
    </h3>
  </div>
  <div id="visitsPanel" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <span class="fa fa-heart"></span>
        </div>

        <div class="media-body ">
          <h4 class="media-title">
            @DictionaryRepository.Get("/Demo/Visits/EngagementValue", "Engagement value:")
            <strong class="pull-right">##</strong>
          </h4>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <span class="fa fa-eye"></span>
        </div>
        <div class="media-body ">
          <h4 class="media-title">
            @DictionaryRepository.Get("/Demo/Visits/PagesThisVisit", "Pages seen this visit:")
            <strong class="pull-right">##</strong>
          </h4>
          <ul class="list-unstyled">
            <li>/test</li>
            <li>/test</li>
            <li>/test</li>
            <li>/test</li>
            <li>/test</li>
            <li>...</li>
          </ul>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <span class="fa fa-history"></span>
        </div>
        <div class="media-body">
          <h4 class="media-title">
            @DictionaryRepository.Get("/Demo/Visits/VisitsAcrossChannels", "Visits across channels:")
            <strong class="pull-right">##</strong>
          </h4>
          <table class="table table-condensed table-borderless">
            <thead>
              <tr>
                <th>Date of visit</th>
                <th>Channel</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Current visit</td>
                <td>Website</td>
              </tr>
              <tr>
                <td>20. mar. 2016 20:34</td>
                <td>Email</td>
              </tr>
              <tr>
                <td>20. mar. 2016 20:34</td>
                <td>Email</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>