@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Navigation
@model Habitat.Navigation.Models.NavigationItems
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.Sitecore().Placeholder("primarymenuheader")
        </div>
        <div class="collapse navbar-collapse" id="primary-navigation">
            <ul class="nav navbar-nav primary-nav">
                @foreach (var item in Model.Items)
                {
                    var hasChildren = item.Children != null && item.Children.Items.Any();
                    var cssClass = (item.IsActive ? "active" : string.Empty);

                    <li class="@cssClass">
                        @if (hasChildren)
                        {
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle.ToString(), item.Item)
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (var subitem in item.Children.Items)
                                {
                                    <li class="@(subitem.IsActive ? "active" : string.Empty)">
                                        <a href="@subitem.Url" target="@subitem.Target">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle.ToString(), subitem.Item)</a>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <a href="@item.Url" target="@item.Target">
                                @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle.ToString(), item.Item)
                            </a>
                        }
                    </li>
                }
            </ul>

            <ul class="nav navbar-nav primary-nav-additional navbar-right">
                @Html.Sitecore().Placeholder("primarymenuitems")
            </ul>
        </div>
    </div>
</nav>
