@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Navigation
@model Habitat.Navigation.Models.NavigationItems

@{
    if (Model == null || Model.Items == null)
    {
        return;
    }
}

<ul class="c-dropdown-menu">
    @foreach (var item in Model.Items)
    {
        var hasChildren = item.IsActive && item.Children != null && item.Children.Items.Any();
        var activeClass = (item.IsActive ? " c-active" : string.Empty);
        <li class="c-dropdown @(hasChildren ? "c-expanded" : "") @activeClass">
            <a href="@item.Item.Url()">
                @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle.ToString(), item.Item)
            </a>

            @{
                if (hasChildren)
                {
                    @Html.Partial("SecondaryMenuItems", item.Children)
                }
            } 
        </li>
    }
</ul>
