@using Habitat.Accounts
@using Habitat.Accounts.Services
@using Sitecore.Mvc
@using Habitat.Accounts.Texts
@using Habitat.Framework.SitecoreExtensions.HtmlHelpers
@using Habitat.Framework.SitecoreExtensions.Repositories
@model Habitat.Accounts.Models.LoginInfo

@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
{
@Html.Sitecore().FormHandler()
@Html.ValidationSummary(true)
<div class="form-group @Html.ValidationErrorFor(x=>x.Email, "has-error")">
    @Html.LabelFor(x => x.Email, new { @class = "control-label" })
    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "help-block" })
    @Html.ValidationMessage("invalidCredentials", new { @class = "help-block" })
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "loginEmail", @placeholder = "E-mail" })
</div>
<div class="form-group @Html.ValidationErrorFor(x=>x.Password, "has-error")">
    @Html.LabelFor(x => x.Password, new { @class = "control-label" })
    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-block" })
    @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "loginPassword", @placeholder = "Password" })
</div>
<input type="submit" class="btn btn-default" value="@Captions.Login" />
<a href="@AccountsSettingsService.Instance.GetPageLink(Sitecore.Context.Item, Templates.AccountsSettings.Fields.ForgotPasswordPage)" class="btn btn-link">@Captions.ForgotYourPassword</a>
}