@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Models
@using Sitecore.Feature.Accounts.Services
@using Sitecore.Feature.Accounts.Texts
@model Sitecore.Mvc.Presentation.RenderingModel
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i>
    </a>
    <ul class="dropdown-menu">
        @if (!(Sitecore.Context.IsLoggedIn && Sitecore.Context.PageMode.IsNormal))
        {
        <h4>@Captions.Login</h4>
        <form id="loginModal">
            @Html.Partial("../Accounts/LoginDialog", new LoginInfo())
        </form>
        }
        else
        {
        <li>
            <div class="dropdown-item-body">
                <dl class="dl-horizontal">
                    @if (!string.IsNullOrWhiteSpace(Sitecore.Context.User.Profile.FullName))
                    {
                    <dt>@Captions.Name</dt>
                    <dd>@Sitecore.Context.User.Profile.FullName</dd>
                    }
                    <dt>@Captions.Email</dt>
                    <dd>@Sitecore.Context.User.Profile.Email</dd>
                </dl>
            </div>
        </li>
        <li>
            <a href="@AccountsSettingsService.Instance.GetPageLink(Model.Item, Templates.AccountsSettings.Fields.AccountsDetailsPage)">@Captions.EditDetails</a>
        </li>
        <li>
            @using (Html.BeginForm("Logout", "Accounts", FormMethod.Post))
            {
            <input type="submit" value="@Captions.Logout" />
            }
        </li>
        }
    </ul>
</li>