@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Models
@using Sitecore.Feature.Accounts.Services
@using Sitecore.Feature.Accounts.Texts
@model Sitecore.Mvc.Presentation.RenderingModel
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i>
    </a>
    <ul class="dropdown-menu">
        @if (!(Sitecore.Context.IsLoggedIn && Sitecore.Context.PageMode.IsNormal))
        {
        <li>
            <a href="#" data-toggle="modal" data-target="#loginModal">Login</a>
        </li>
        <li>
            <a href="@AccountsSettingsService.Instance.GetPageLink(Model.Item, Templates.AccountsSettings.Fields.RegisterPage)">Register</a>
        </li>
        }
        else
        {
        <li>
            <div class="accounts-details">
                <dl class="dl-horizontal">
                    @if (!string.IsNullOrWhiteSpace(Sitecore.Context.User.Profile.FullName))
                    {
                    <dt>@Captions.Name</dt>
                        <dd>@Sitecore.Context.User.Profile.FullName</dd>
                    }
                    <dt>@Captions.Email</dt>
                    <dd>@Sitecore.Context.User.Profile.Email</dd>
                </dl>
                <a href="@AccountsSettingsService.Instance.GetPageLink(Model.Item, Templates.AccountsSettings.Fields.AccountsDetailsPage)" class="btn btn-default">@Captions.EditDetails</a>
            </div>
        </li>
        <li>
            @using (Html.BeginForm("Logout", "Accounts", FormMethod.Post))
            {
            <input type="submit" value="@Captions.Logout" />
            }
        </li>
        }
    </ul>
</li>
<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@Captions.Login</h4>
            </div>
            @Html.Partial("../Accounts/LoginDialog", new LoginInfo())
        </form>
    </div>
</div>