@using Sitecore.Foundation.Dictionary
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.SitecoreExtensions.HtmlHelpers
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.PasswordResetInfo

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
{
  @Html.Sitecore().FormHandler()
  <div class="form-group @Html.ValidationErrorFor(x => x.Email, "has-error")">
    @Html.LabelFor(x => x.Email, new
{
  @class = "control-label"
})

    @Html.TextBoxFor(x => x.Email, new
                                   {
                                     @class = "form-control",
                                     id = "registerEmail",
                                     @placeholder = Html.Sitecore().Dictionary("/Accounts/Forgot Password/Forgot Password Email Placeholder", "Please enter the e-mail address you used to register")
                                   })
    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "help-block" }, "p")

  </div>

  <input type="submit" class="btn btn-primary btn-lg btn-block" value="@Html.Sitecore().Dictionary("/Accounts/Forgot Password/Reset Password", "Reset password")" />
  <div class="help-block">@Html.Sitecore().DictionaryField("/Accounts/Forgot Password/Reset Password Info", "The new password will be sent to your e-mail.")</div>
}