@using Sitecore.Feature.Accounts.Texts
@using Sitecore.Foundation.SitecoreExtensions.HtmlHelpers
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.PasswordResetInfo

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
{
  @Html.Sitecore().FormHandler()
  <div class="form-group @Html.ValidationErrorFor(x => x.Email, "has-error")">
    @Html.LabelFor(x => x.Email, new
{
  @class = "control-label"
})

    @Html.ValidationMessageFor(x => x.Email, "", new
{
  @class = "help-block"
})

    @Html.TextBoxFor(x => x.Email, new
{
  @class = "form-control",
  id = "registerEmail"
})
  </div>

  <input type="submit" class="btn btn-primary btn-large btn-block" value="@Captions.ResetPassword" />
  <div class="help-block">@Captions.ResetPasswordInfo</div>
}