@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Services
@using Sitecore.Feature.Accounts.Texts
@using Sitecore.Foundation.SitecoreExtensions.HtmlHelpers
@using Sitecore.Mvc
@model Sitecore.Feature.Accounts.Models.LoginInfo

@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
{
  @Html.FormHandler()
  @Html.ValidationSummary(true)
  <div class="form-group @Html.ValidationErrorFor(x=>x.Email, "has-error")">
    @Html.LabelFor(x => x.Email, new { @class = "control-label" })
    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "help-block" })
    @Html.ValidationMessage("invalidCredentials", new { @class = "help-block" })
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "loginEmail", @placeholder = "E-mail" })
  </div>
  <div class="form-group @Html.ValidationErrorFor(x=>x.Password, "has-error")">
    @Html.LabelFor(x => x.Password, new { @class = "control-label" })
    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-block" })
    @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "loginPassword", @placeholder = "Password" })
  </div>
  <a href="@AccountsSettingsService.Instance.GetPageLink(Sitecore.Context.Item, Templates.AccountsSettings.Fields.ForgotPasswordPage)" class="btn btn-link">@Captions.ForgotYourPassword</a>
  <input type="submit" class="btn btn-primary btn-large btn-block" value="@Captions.Login" />
}