@using Sitecore.Feature.Accounts.Texts
@using Sitecore.Foundation.Dictionary
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.SitecoreExtensions.HtmlHelpers
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.RegistrationInfo

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new
                                                                            {
                                                                              @class = "form-signin"
                                                                            }))
{
  @Html.FormHandler()
  <div class="form-group @Html.ValidationErrorFor(x => x.Email, "has-error")">
    @Html.LabelFor(x => x.Email, new
                                 {
                                   @class = "control-label"
                                 })

    @Html.TextBoxFor(x => x.Email, new
                                   {
                                     @class = "form-control",
                                     id = "registerEmail",
                                     @placeholder = Html.Sitecore().Dictionary("/Accounts/Register/Register Email Placeholder", "Please enter your e-mail address")
                                   })
    @Html.ValidationMessageFor(x => x.Email, "", new
                                                 {
                                                   @class = "help-block"
                                                 }, "p")
  </div>

  <div class="form-group @Html.ValidationErrorFor(x => x.Password, "has-error")">
    @Html.LabelFor(x => x.Password, new
                                    {
                                      @class = "control-label"
                                    })


    @Html.PasswordFor(x => x.Password, new
                                       {
                                         @class = "form-control",
                                         id = "registerPassword",
                                         @placeholder = Html.Sitecore().Dictionary("/Accounts/Register/Register Password Placeholder", "Please enter your new password")
                                       })
    @Html.ValidationMessageFor(x => x.Password, "", new
                                                    {
                                                      @class = "help-block"
                                                    }, "p")
  </div>

  <div class="form-group @Html.ValidationErrorFor(x => x.ConfirmPassword, "has-error")">
    @Html.LabelFor(x => x.ConfirmPassword, new
                                           {
                                             @class = "control-label"
                                           })

    @Html.PasswordFor(x => x.ConfirmPassword, new
                                              {
                                                @class = "form-control",
                                                id = "registerConfirmPassword",
                                                @placeholder = Html.Sitecore().Dictionary("/Accounts/Register/Register Confirm Password Placeholder", "Please confirm you new password")
                                              })
    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new
                                                           {
                                                             @class = "help-block"
                                                           }, "p")
  </div>

  <input type="submit" class="btn btn-primary btn-lg btn-block" value="@Html.Sitecore().Dictionary("/Accounts/Register/Register", "Register")"/>
}