@using Habitat.Person.Models
@using Habitat.Person.Repositories
@functions{

    private Quote GetQuote()
    {
        var quote = new QuoteRepository(Html.Sitecore().CurrentItem);

        var model = quote.Get();
        return model;
    }
}

<div class="media">
    <div class="media-left">
        <a href="#">
    @GetQuote().Person.Picture
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">@GetQuote().Person.Name, @GetQuote().Person.Title, @GetQuote().Company</h4>
        @GetQuote().Quotation
    </div>
</div>