<!DOCTYPE html>
@using Habitat.Framework.Assets
@using Habitat.Framework.Assets.Models
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Html.Sitecore().Placeholder("head")

    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript()
    @RenderAssetsService.Current.RenderStyles()
</head>
<body>

<header>
    <nav class="navbar navbar-default">
        <div class="container">
            @Html.Sitecore().Placeholder("header")
        </div>
    </nav>
</header>

<div class="container">
    @Html.Sitecore().Placeholder("content")
</div>

<footer>
    <div class="container">
        @Html.Sitecore().Placeholder("footer")
    </div>        
</footer>

@RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
</body>
</html>