@model Sitecore.Foundation.Indexing.Models.ISearchResults

<ul class="list-unstyled list-divided">
  @foreach (var result in Model.Results)
  {
    <li>
      @if (result.ViewName != null)
      {
        @Html.Partial(result.ViewName, result);
      }
      else
      {
        <div>
          <span class="label label-info">@result.ContentType</span>
        </div>
        <h2>
          <a href="@result.Url">@Html.Raw(result.Title)</a>
        </h2>

        if (!string.IsNullOrWhiteSpace(result.Description))
        {
          @Html.Raw(result.Description)
        }
      }
    </li>
  }
</ul>