@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Mvc.Analytics.Extensions
@inherits WebViewPage
@{
  Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  @if (!Sitecore.Context.PageMode.IsPageEditor)
  {
    @Html.Sitecore().Placeholder("head")
  }
  <!-- Latest compiled and minified JavaScript -->
  @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)
  @RenderAssetsService.Current.RenderStyles()
  @Html.Sitecore().VisitorIdentification()
</head>
<body class="header-static @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsPageEditor ? "pagemode-edit" : "pagemode-preview"))">
  <div id="main-container">
    <header class="header-static">
      @Html.Sitecore().Placeholder("header-top")

      @Html.Sitecore().Placeholder("navbar")
    </header>
    <main role="main">
      @Html.Sitecore().Placeholder("page-layout")
    </main>
    <footer>
      @Html.Sitecore().Placeholder("footer")
    </footer>

    @if (!Sitecore.Context.PageMode.IsPageEditor)
    {

      <div class="off-canvas-sidebar off-canvas-sidebar-right">
        <button type="button" class="btn btn-info pull-right " data-toggle="sidebar" data-side="right">
          <span class="glyphicon glyphicon-cog icon-md "></span>
        </button>
        <div class="sidebar sidebar-fixed-right">
          <button type="button" class="btn btn-danger  " data-toggle="sidebar" data-side="right">
            X
          </button>
          @Html.Sitecore().Placeholder("page-sidebar")
        </div>
      </div>
    }
  </div>
  @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
</body>
</html>