@using Habitat.Navigation
@model Habitat.Navigation.Models.NavigationItems

@{
  if (Model == null || Model.Items == null)
  {
    return;
  }
}

<div class="list-group">
  @foreach (var item in Model.Items)
  {
    var hasChildren = item.IsActive && item.Children != null && item.Children.Items.Any();
    var activeClass = (item.IsActive ? " active" : string.Empty);
    <a href="@item.Url" target="@item.Target" class="list-group-item @activeClass">
      @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle.ToString(), item.Item)
    </a>
    if (hasChildren)
    {
      @Html.Partial("_SecondaryMenuItems", item.Children)
    }
  }
</div>