@using Habitat.StandardContent
@using Habitat.StandardContent.Infrastructure.Repositories
@using Habitat.StandardContent.Infrastructure.Services
@using Sitecore.Data.Items
@model Sitecore.Mvc.Presentation.RenderingModel

@functions
{
    //TODO: Move to ControllerRendering

    private string GetFrontendHeadingValue(int i)
    {
        return string.Concat("heading", HumanFriendlyIntegerService.IntegerToWritten(i + 1), "-3");
    }

    private string GetFrontendCollapseValue(int i)
    {
        return string.Concat("collapse", HumanFriendlyIntegerService.IntegerToWritten(i + 1), "-3");
    }

    private string GetCollapsed(int i)
    {
        return i > 0 ? "collapsed" : "";
    }

    private string GetAreaExpanded(int i)
    {
        return i > 0 ? "true" : "false";
    }

    private string GetIn(int i)
    {
        return i > 0 ? "in" : "";
    }

    private List<Item> _accordeonElements;

    private List<Item> AccordeonElements
    {
        get
        {
            if (_accordeonElements == null || !_accordeonElements.Any())
            {
                _accordeonElements = AccordeonElementsRespository.Get(Model.Item).ToList();
                return _accordeonElements;
            }
            return _accordeonElements;
        }
    }

    private string _accordionID;

    public string AccordionID => (_accordionID ?? (_accordionID = $"accordion-{Guid.NewGuid().ToString("N")}"));
}

<div class="accordion">
    <div class="panel-group" id="@AccordionID" role="tablist">
        @for (var i = 0; i < AccordeonElements.Count(); i++)
        {
            <div class="panel">
                <div class="panel-heading" role="tab" id="@GetFrontendHeadingValue(i)">
                    <h4 class="panel-title">
                        <a class="@GetCollapsed(i)" data-toggle="collapse" data-parent="#@AccordionID" href="#@GetFrontendCollapseValue(i)" aria-expanded="@GetAreaExpanded(i)" aria-controls="@GetFrontendCollapseValue(i)">
                            @Html.Sitecore().Field(Templates.HasTitle.Fields.Title.ToString(), AccordeonElements[i])
                        </a>
                    </h4>
                </div>
                <div id="@GetFrontendCollapseValue(i)" class="panel-collapse collapse @GetIn(i)" role="tabpanel" aria-labelledby="@GetFrontendHeadingValue(i)">
                    <div class="panel-body">
                        @Html.Sitecore().Field(Templates.HasSummary.Fields.Summary.ToString(), AccordeonElements[i])
                    </div>
                </div>
            </div>
        }
    </div>
</div>