@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Framework.SitecoreExtensions.Repositories
@using Habitat.StandardContent
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="teaser">
    <h4>@Html.Sitecore().Field(Templates.HasTitle.Fields.Title.ToString(), Model.Item)</h4>
    <p>@Html.Sitecore().Field(Templates.HasSummary.Fields.Summary.ToString(), Model.Item)</p>
    <a href="@Model.Item.Url()">
        @Html.Sitecore().ImageField(Templates.HasImage.Fields.Image.ToString(), Model.Item, mw: 100)
    </a>
    <a href="@Model.Item.Url()">
        @DictionaryRepository.Get("/R/Read more", "READ MORE");
    </a>
</div>