@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.StandardContent
@model Sitecore.Mvc.Presentation.RenderingModel


<div class="thumbnail">
    <a href="@Model.Item.LinkFieldUrl(Templates.HasLink.Fields.Link)">
        @Html.Sitecore().ImageField(Templates.HasImage.Fields.Image.ToString(), Model.Item, mw: 500, cssClass: "img-responsive")
    </a>
    <div class="caption">
        <h3 class="teaser-heading">
            @Html.Sitecore().Field(Templates.HasTitle.Fields.Title.ToString(), Model.Item)
        </h3>
        @Html.Sitecore().Field(Templates.HasSummary.Fields.Summary.ToString(), Model.Item)
        <p class="read-more">
            @Html.Sitecore().Field(Templates.HasLink.Fields.Link.ToString(), Model.Item, new
   {
       @class = "btn btn-info"
   })
        </p>
    </div>
</div>
