@using Habitat.Media
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Media.Infrastructure.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel

@{ var carouselId = "Carousel_" + Guid.NewGuid().ToString("N");}
<div id="@carouselId" class="carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        @{ 
            var index = 0;
            foreach (var item in CarouselElementsRepository.Get(Model.Item))
            {
                <li data-target="#@carouselId" data-slide-to="@index" class="@item.Active"></li>
                index++;
            }
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @foreach (var element in CarouselElementsRepository.Get(Model.Item))
        {
            <div class="item @element.Active">
                @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image.ToString(), element.Item)
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="resizable">@element.Item[Templates.HasMedia.Fields.Title]</h1>
                        <p>@Html.Sitecore().Field(Templates.HasMedia.Fields.Description.ToString(), element.Item)</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <a class="left carousel-control" href="#@carouselId" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#@carouselId" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>