@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Infrastructure.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@if (!Model?.Item?.IsDerived(Templates.HasMediaSelector.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.HasMediaSelector.ID))
  return;
}



@{
	var galleryId = "gallery" + Guid.NewGuid().ToString("N");
  var elements = MediaSelectorElementsRepository.Get(Model.Item).ToArray();
}

<div class="gallery">
	<div class="row">
		@foreach (var element in elements)
		{
			const int ThumbnailWidth = 750;
			const int maxWidth = 1200;
			var thumbnail = Html.Sitecore().ImageField(Templates.HasMedia.Fields.Thumbnail.ToString(), element.Item, mw: ThumbnailWidth, cssClass: "img-responsive");
			if (string.IsNullOrWhiteSpace(thumbnail?.ToString()))
			{
				thumbnail = Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image.ToString(), element.Item, mw: ThumbnailWidth, cssClass: "img-responsive");
			}
			if (string.IsNullOrWhiteSpace(thumbnail?.ToString()))
			{
				continue;
			}

			var columnWidth = string.IsNullOrEmpty(element.Active) ? "col-xs-4" : "col-md-12";
			if (element.Item.IsDerived(Templates.HasMediaVideo.ID))
			{
				var linkFieldUrl = element.Item.LinkFieldUrl(Templates.HasMediaVideo.Fields.VideoLink);
				if (!string.IsNullOrWhiteSpace(linkFieldUrl))
				{
			  <div class="@columnWidth">
				  <div>
					  <a href="@linkFieldUrl" data-title="@element.Item[Templates.HasMedia.Fields.Title]" data-footer="@Html.Encode(Html.Sitecore().Field(Templates.HasMedia.Fields.Description.ToString(), element.Item))" data-toggle="lightbox" data-gallery="@galleryId">
						  @thumbnail
					  </a>
				  </div>
			  </div>
			  }
		  }
		  else
		  {
		    <div class="@columnWidth">
			    <div>
				    <a href="@element.Item.ImageUrl(Templates.HasMediaImage.Fields.Image, new MediaUrlOptions(maxWidth, 0, false))" data-type="image" data-title="@element.Item[Templates.HasMedia.Fields.Title]" data-footer="@Html.Encode(Html.Sitecore().Field(Templates.HasMedia.Fields.Description.ToString(), element.Item))" data-toggle="lightbox" data-gallery="@galleryId">
					    @thumbnail
				    </a>
			    </div>
		    </div>
		  }
		}
	</div>
</div>
