@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
  if (Model?.Items == null)
  {
    return;
  }
}

<ul class="nav nav-stacked">
  @foreach (var item in Model.Items)
  {
    var liclass = "";
    if (item.Item.Fields[Templates.LinkMenuItem.Fields.DividerBefore].IsChecked())
    {
      liclass = "divider";
    }
    <li class="@liclass">
      <a href="@item.Url" target="@item.Target" title="@item.Item[Templates.Navigable.Fields.NavigationTitle]">
        @if (!string.IsNullOrWhiteSpace(item.Item[Templates.LinkMenuItem.Fields.Icon]))
        {
          <i class="fa fa-@item.Item[Templates.LinkMenuItem.Fields.Icon]"></i>
        }
        else
        {
          @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
        }
      </a>
    </li>
  }
</ul>