@using Sitecore.Mvc
@using Habitat.Accounts.Texts
@model Habitat.Accounts.Models.LoginInfo


@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
{
@Html.Sitecore().FormHandler()
@Html.ValidationSummary()
<div class="form-group">
    @Html.LabelFor(x => x.Email)
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "loginEmail", @placeholder = "E-mail"})
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Password)
    @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "loginPassword", @placeholder = "Password"})
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" id="loginRemember"> Remember me
    </label>
</div>
<input type="submit" class="btn btn-default" value="@Captions.Login" />
<button type="button" class="btn btn-link">Forgot you password?</button>
}