@using Habitat.Accounts.Texts
@model Habitat.Accounts.Models.RegistrationInfo

@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
{
  @Html.Sitecore().FormHandler()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "registerEmail" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.UserName)
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", id = "registerName" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "registerPassword" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmPassword)
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", id = "registerConfirmPassword" })
    </div>

    <input type="submit" class="btn btn-default" value="@Captions.Register" />
}