@using Sitecore.Configuration
@using Sitecore.Feature.Social
@using Sitecore.Feature.Social.Models
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel
@{
  var repository = new RenderingPropertiesRepository();
  var twitterFeedProperties = repository.Get<TwitterFeedRenderingProperties>();
}
@if (!Model?.Item?.IsDerived(Templates.TwitterFeed.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.TwitterFeed.ID))
  return;
}

<div class="well">
	@if (Model?.Item != null)
  {
		<header>
			<h3>@Html.Sitecore().Field(Templates.TwitterFeed.Fields.FeedTitle.ToString(), Model.Item)</h3>
		</header>
		<p>
			<a class="twitter-timeline" href="@Model.Item.LinkFieldUrl(Templates.TwitterFeed.Fields.TwitterUrl)" data-widget-id="@Model.Item.Fields[Templates.TwitterFeed.Fields.WidgetId].Value"
			   data-tweet-limit="@twitterFeedProperties.TweetsToShow" data-chrome="noheader nofooter noscrollbar noborders transparent">@Html.Sitecore().Field(Templates.TwitterFeed.Fields.FeedTitle.ToString(), Model.Item)</a>

		</p>
  }
</div>