@using Sitecore.Configuration
@using Sitecore.Feature.Social
@using Sitecore.Feature.Social.Models
@using Sitecore.Framework.SitecoreExtensions.Extensions
@using Sitecore.Framework.SitecoreExtensions.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var repository = new RenderingPropertiesRepository();
    var twitterFeedProperties = repository.Get<TwitterFeedRenderingProperties>();
}
<div class="panel panel-default news-teaser">
    @{if (Model?.Item != null)
      {
        <div class="panel-heading">
            <h3>@Html.Sitecore().Field(Templates.TwitterFeed.Fields.FeedTitle.ToString(), Model.Item)</h3>
        </div>
        <div class="panel-body">
            <a class="twitter-timeline" href="@Model.Item.LinkFieldUrl(Templates.TwitterFeed.Fields.TwitterUrl)" data-widget-id="@Model.Item.Fields[Templates.TwitterFeed.Fields.WidgetId].Value"
               data-tweet-limit="@twitterFeedProperties.TweetsToShow" data-chrome="noheader nofooter noscrollbar noborders transparent">@Html.Sitecore().Field(Templates.TwitterFeed.Fields.FeedTitle.ToString(), Model.Item)</a>

        </div>
      }}
</div>