@using Habitat.Framework.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@model Habitat.Person.Models.Employee

<div>

    @Model.Person.Name

    @Model.Person.Title

    @Model.Person.Image

    @Model.Description

    @Model.FacebookLink

    @Model.TwitterLink

    @Model.LinkedInLink

    @Model.BlogLink

    @Model.Telephone

    @Model.Mobile
</div>