@using Habitat.Framework.SitecoreExtensions.Repositories
@model Habitat.Person.Models.Employee
<div class="row">
    <h2>Employee details</h2>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail text-center">
            @Model.Person.Picture
            @*@Html.Sitecore().Field(Templates.Person.Fields.Picture.ToString(), Model.Person.Item, cssClass: "img-responsive c-overlay-object");**@
            <div class="c-body">
                <div class="c-head">
                    <div class="c-name c-font-uppercase c-font-bold">
                        <h3>@Model.Person.Name</h3>
                    </div>
                    <div class="c-position">
                        @Model.Person.Title
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        @Model.Description
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="text-left">
            <h3>@DictionaryRepository.Get("/C/Contact Me", "CONTACT ME")</h3>
            <ul class="c-position list-inline">
                <li>
                    <i class="fa fa-phone">@Model.Telephone</i>
                </li>
                <li>
                    <i class="fa fa-mobile-phone">@Model.Mobile</i>
                </li>
                <li>
                    <i class="fa fa-envelope">@Model.Email</i>
                </li>
            </ul>
            <h3>@DictionaryRepository.Get("/F/Follow Me", "FOLLOW ME")</h3>
            <ul class="c-socials list-inline">
                <li>
                    <a href="@Model.TwitterLink">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="@Model.FacebookLink">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                </li>
                <li>
                    <a href="@Model.LinkedInLink">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>