@using Sitecore.Feature.Teasers
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Teasers.Models.DynamicTeaserModel
<div class="panel-group" id="@Model.Id" role="tablist" aria-multiselectable="true">
  @using (Html.BeginEditFrame(Model.Item.ID.ToString(), ""))
  {
    var index = 0;
    foreach (var element in Model.Items)
    {
      var isExpanded = Sitecore.Context.PageMode.IsExperienceEditor || element.IsActive;
      index++;
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <div class="panel-title" id="@element.HeaderId">
            <a role="button" data-toggle="collapse" data-parent="#@Model.Id" href="#@element.PanelId" aria-expanded="false" aria-controls="@element.PanelId">
              @if (element.Item == null)
              {
                @element.Title
              }
              else
              {
                if (element.Icon != null)
                {
                  <span class="@element.Icon"></span>
                }
                @Html.Sitecore().Field(Templates.TeaserHeadline.Fields.Title.ToString(), element.Item)
              }
            </a>
          </div>
        </div>
        <div id="@element.PanelId" class="panel-collapse  collapse @(isExpanded ? "in" : "")" role="tabpanel" aria-labelledby="@element.HeaderId">
          <div class="panel-body">
            @Html.Sitecore().DynamicPlaceholder($"teaser-placeholder-{index}")
          </div>
        </div>
      </div>
    }
  }
</div>