@using Sitecore.Support
@model Sitecore.Feature.Teasers.Models.AccordeonModel

<div class="panel-group teaser" id="@Model.Id" role="tablist" aria-multiselectable="true">
  @{
    var index = 0;
    foreach (var element in Model.Elements)
    {
      var isExpanded = Sitecore.Context.PageMode.IsPageEditor || index == 0;
      index++;
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="@element.HeaderId">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#@Model.Id" href="#@element.PanelId" aria-expanded="false" aria-controls="@element.PanelId">
              @element.Title
            </a>
          </h4>
        </div>
        <div id="@element.PanelId" class="panel-collapse collapse @(isExpanded ? "in" : "") role="tabpanel" aria-labelledby="@element.HeaderId">
          <div class="panel-body">
            @Html.Sitecore().DynamicPlaceholder($"teaser-placeholder-{index}")
          </div>
        </div>
      </div>
    }
  }
</div>