@using Sitecore.Feature.Teasers
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Mvc.Presentation
@model Sitecore.Feature.Teasers.Models.DynamicTeaserModel

@using (Html.BeginEditFrame(Model.Item.ID.ToString(), ""))
{
  var options = RenderingContext.Current.Rendering.GetCarouselOptions();
  <div class="owl-carousel" data-options='{"items": @options.ItemsShown, "navigation": @(options.ShowNavigation ? "true" : "false"), "navigationText": ["<", ">"], "autoPlay": @(options.AutoPlay ? "true" : "false") }'>
    @{ var items = Model.Items.ToList(); }
    @for (var i = 0; i < items.Count; i++)
    {
      <div>
        @if (items[i].Item != null)
        {
          @Html.Sitecore().ViewRendering("TitleImageSummaryTeaser.cshtml", new { DataSource = items[i].Item.Paths.FullPath })
        }
        else
        {
          @Html.Sitecore().DynamicPlaceholder($"teaser-placeholder-{i + 1}")
        }
      </div>
    }
  </div>
      }
