@using Sitecore.Feature.Teasers
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
  if (!Model?.Item?.IsDerived(Templates.TeaserContent.ID) ?? true)
  {
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.TeaserContent.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
    return;
  }
  var backgroundClass = Model.Rendering.GetBackgroundClass();
}


<div class="thumbnail @(string.IsNullOrEmpty(backgroundClass) ? "" : "thumbnail-focus " + backgroundClass) m-b-1">
  <header class="thumbnail-header">
    @if (Model.Item.FieldHasValue(Templates.TeaserContent.Fields.Label) || Sitecore.Context.PageMode.IsExperienceEditor)
    {
      <span class="label">
        @Html.Sitecore().Field(Templates.TeaserContent.Fields.Label.ToString(), Model.Item)
      </span>
    }
    <h3>
      @Html.Sitecore().Field(Templates.TeaserHeadline.Fields.Title.ToString(), Model.Item)
    </h3>
  </header>
  <div>
    <a href="@Model.Item.LinkFieldUrl(Templates.TeaserContent.Fields.Link)">
      @Html.Sitecore().ImageField(Templates.TeaserContent.Fields.Image.ToString(), Model.Item, mw: 500, cssClass: "img-responsive")
    </a>
  </div>
  <div class="caption">
    <p>
      @Html.Sitecore().Field(Templates.TeaserContent.Fields.Summary.ToString(), Model.Item)
    </p>
    @Html.Sitecore().Field(Templates.TeaserContent.Fields.Link.ToString(), Model.Item, new
{
  @class = "btn btn-default"
})
  </div>
</div>
