@using Sitecore.Feature.Teasers
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@if (!Model?.Item?.IsDerived(Templates.TeaserContent.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.TeaserContent.ID))
  return;
}

<div class="thumbnail">
  <a href="@Model.Item.LinkFieldUrl(Templates.TeaserContent.Fields.Link)">
    @Html.Sitecore().ImageField(Templates.TeaserContent.Fields.Image.ToString(), Model.Item, mw: 500, cssClass: "img-responsive")
  </a>
  <div class="caption">
    <h3>
      @Html.Sitecore().Field(Templates.TeaserContent.Fields.Title.ToString(), Model.Item)
    </h3>
    <p>
      @Html.Sitecore().Field(Templates.TeaserContent.Fields.Summary.ToString(), Model.Item)
    </p>
    @Html.Sitecore().Field(Templates.TeaserContent.Fields.Link.ToString(), Model.Item, new
    {
      @class = "btn btn-default"
    })
  </div>
</div>